.store_container {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.store_filter {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 40px auto;
}

.store_filter span {
    margin-right: 10px;
    color: #c4c2c2;
}

.store_pagination {
  margin: 40px auto;
}

.store_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
