/* .card_container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 40vh;
    margin: auto 25px 25px;
}

.card_tag {
    color: #fff;
    padding: 10px;
    position: absolute;
    background-color: red;
}

.card_image {
    position: relative;
    width: 100%;
    height: 100%;
} */

.wrapper {
	display: flex;
    flex-direction: column;
    width: calc(10rem + 10vw);
    height: calc(20.8rem + 10vw);
    margin: 20px 15px 25px 30px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
}

.topCard{
	position: relative;

}

.favIconCard{
	color: red;
	margin-top: calc(.6rem + .3vw);
	font-size: calc(1.8rem + .3vw);
	position: absolute;
	left: auto;
    right: calc(.6rem + .3vw);
	cursor: pointer;
}

.noFavIconCard{
	color: gray;
	margin-top: calc(.6rem + .3vw);
	font-size: calc(1.8rem + .3vw);
	position: absolute;
	left: auto;
    right: calc(.6rem + .3vw);
	cursor: pointer;
}

.wrapper_image {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.outer {
	position: relative;
	background-color: #fff;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	/* align-items: center; */
    border-radius: 20px;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	animation-delay: 0.3s;
	position: absolute;
	left: 20px;
	z-index: 3
}

.navlink {
	text-decoration: none;
}

.wrapper h2 {
	width: 95%;
	color: #111;
}

.cardDescription {
	width: 95%;
	font-size: 14px;
	line-height: 1.4;
	color: #aaa;
	margin: 20px 0;
}

.bg {
	display: inline-block;
	color: #fff;
	background: red;
	padding: 5px 10px;
	margin-bottom: 10px;
	border-radius: 50px;
	font-size: .7em;
}
.button {
	width: fit-content;
	height: fit-content;
	margin: auto;
	margin-bottom: calc(.6rem + .3vw);
}

.button a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	font-size: 11px;
	color: #111;
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #aaa;
	font-weight: bold;
	cursor: pointer;
}

.button a:after{
	content: "";
	position: absolute;
	top: 0;
	right: -10px;
	width: 0%;
	background: #111;
	height: 100%;
	z-index: -1;
	transition: width 0.4s ease-in-out;
	transform: skew(-25deg);
	transform-origin: right;
}

.button a:hover:after {
	width: 150%;
	left: -10px;
	transform-origin: left;
	
}

.button a:hover {
	color: #fff;
	transition: all 0.5s ease;
}


.button a:nth-of-type(1) {
	border-radius: 50px 0 0 50px;
	border-right: none;
}

.button a:nth-of-type(2) {
	border-radius: 0px 50px 50px 0;
}

.cart_icon {
	padding-right: 8px;
	
}